<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Green.Properties.Settings.GreenConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\Unitec\2015 Semester Two\GUI programming\Assignment\Assignment 2\Temp\Green\Green.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>